<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="davsoftw.com.creedensusprofetas_donacion2018">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/biblia"
        android:label="@string/app_name"
        android:roundIcon="@drawable/biblia"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".creedasusprofetas.view.V_LECTURA_BIBLIA"
            android:label="@string/title_activity_v__lectura__bibli"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".creedasusprofetas.view.V_LECTURA_EGW"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".creedasusprofetas.view.V_CALENDAR">
        </activity>

    </application>

</manifest>